.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: space-around;
    align-content: stretch;
    justify-items: center;
    grid-template-areas:
      "img titulo titulo titulo"
      "experiencia experiencia conocimientos conocimientos"
      "estudios estudios interes interes";
  }
  
  .titulo {
    justify-self: stretch;
    align-self: center;
    grid-area: titulo;
  }
  
  .experiencia { grid-area: experiencia; }
  
  .estudios { grid-area: estudios; }
  
  .conocimientos { grid-area: conocimientos; }
  
  .interes { grid-area: interes; }
  
  .img {
    justify-self: center;
    align-self: center;
    grid-area: img;
  }
  